/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Kode+Mono:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tilt+Prism&display=swap");
/*Font Family */
/* Font Weight */
/* Colors */
/* Font Sizes */
/* Shadows */
header {
  position: relative;
  width: 100%;
  height: 632px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
header::before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3b1c32;
  background-image: url("/images/bg.png");
  background-size: cover;
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  transform: scaleX(1.5);
  border-bottom: 2px solid #fbe4d8;
}

.navbar {
  padding: 2.5rem 4.375rem 0 4.375rem !important;
}
.navbar .navbar-toggler {
  border: none !important;
}
.navbar .navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}
.navbar .nav-link {
  margin-left: 3.0625rem;
  color: #fbe4d8 !important;
  font-family: "JetBrains Mono", serif;
  font-weight: 500;
  font-size: 1rem;
  padding: 0;
}
.navbar .nav-link:hover {
  text-shadow: 0 0 10px #fbe4d8;
  box-shadow: 0 0 10px 1px #e188b4;
  border-radius: 10%;
}
.navbar .collapse-hero-icons {
  display: none;
}

#logo {
  color: #fbe4d8 !important;
  font-size: 1.875rem !important;
  font-family: "Kode Mono", serif;
  font-weight: 500;
}
#logo:hover {
  color: #fbe4d8;
  text-shadow: 0 0 10px #fbe4d8;
}

.pink {
  color: #e188b4;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8vw;
  color: #fbe4d8;
  font-family: "Montserrat", serif;
  z-index: -1;
}
.hero .heading {
  padding-left: 180px;
}
.hero .heading h1 {
  font-size: 4rem;
  font-weight: 600;
  color: #e188b4;
  text-shadow: 0 0 10px #e188b4;
  margin-bottom: 2rem;
}
.hero .heading p {
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 0 0 10px #fbe4d8;
}
.hero .heading .qoute {
  display: none;
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: none;
}
.hero .heading .qoute .lightQoute {
  text-shadow: 0 0 10px #fbe4d8;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
    visibility: visible;
  }
}
@keyframes blinking {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
#qoute .lightQoute {
  text-shadow: 0 0 10px #fbe4d8;
}
#qoute p {
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: none;
  overflow: hidden;
  white-space: nowrap;
  animation-iteration-count: 1;
}
#qoute p:nth-child(1) {
  animation: typing 4s steps(200, end) 0s;
}
#qoute p:nth-child(2) {
  visibility: hidden;
  animation: typing 4s steps(200, end) 4s forwards, blinking 0.2s 5s 1;
}

.hero-icons {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35%;
  right: 6%;
}
.hero-icons .icon {
  margin-bottom: 22px;
  padding: 5px;
}
.hero-icons .icon:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px 1px #e188b4;
  border-radius: 30%;
}

@media screen and (max-width: 425px) {
  #qoute {
    display: none;
  }
  #logo {
    font-size: 1.3rem !important;
    color: #fbe4d8 !important;
  }
  header {
    height: 300px;
  }
  header::before {
    height: 100%;
  }
  header .navbar {
    padding: 1rem 1rem 1rem 1rem !important;
    background-color: #3b1c32 !important;
  }
  header .navbar .collapse-hero-icons {
    border-top: 1px solid #e188b4;
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  header .navbar .collapse-hero-icons:hover {
    box-shadow: none;
    border-radius: 0;
  }
  header .navbar .collapse-hero-icons img {
    width: 30px;
  }
  header .navbar-collapse {
    background-color: #3b1c32;
    padding-top: 5%;
  }
  header .collapse {
    background-color: #3b1c32;
    z-index: 2;
    width: 100%;
  }
  header .nav-link {
    margin-left: 0px !important;
    border-top: 1px solid #e188b4;
    font-size: 1rem !important;
    padding: 5px !important;
  }
  header .hero {
    justify-content: center;
    top: 60px;
    position: absolute;
  }
  header .hero .heading {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  header .hero .heading h1 {
    font-size: 2rem !important;
    margin-bottom: 15px;
  }
  header .hero .heading p,
  header .hero .heading .qoute {
    font-size: 0.7rem;
    margin-bottom: 0px;
  }
  header .hero .heading .qoute {
    display: inline-block;
  }
  header .hero-icons {
    display: none;
  }
}/*# sourceMappingURL=header.css.map */